<div class="card shadow-none m-0 h-100 w-100">
  <div class="card-body">
    <h4 class="my-2 text-center">Exceptions By Controller Over Time</h4>
    <p class="text-muted text-center m-0">Since <%= time_ago_in_words(@time_ago.ago) %> ago</p>
    <% if @exceptions_by_controller_over_time.any? %>
      <%= apex_line_chart @exceptions_by_controller_over_time, module: true, legend: false, id: "ID#{SecureRandom.hex}" %>
    <% else %>
      <p class="text-center text-danger mt-3">no data</p>
    <% end %>
  </div>
  <% if @debug %>
  <div class="card-footer">
    <h4>DEBUG</h4>
    <p>
      class: ExceptionsByControllerComponent
    </p>
  </div>
  <% end %>
</div>
