<div class="card shadow-none m-0 h-100 w-100 border-0">
  <div class="card-body ">
    <h4 class="my-2 text-center">Exceptions By User</h4>
    <p class="text-muted text-center m-0">Since <%= time_ago_in_words(@time_ago.ago) %> ago</p>
    <%= apex_pie_chart @exceptions_by_user, module: true, legend: false, id: "ID#{SecureRandom.hex}" %>
  </div>
  <% if @debug %>
    <div class="card-footer">
      <h4>DEBUG</h4>
      <p>
        class: ExceptionsByControllerComponent
      </p>
    </div>
  <% end %>
</div>
