<div class="card shadow-none m-0 h-100 w-100 border-0">
  <div class="card-body ">
    <h4 class="my-2 text-center">Exceptions By Controller</h4>
    <%= apex_pie_chart @exceptions_by_controller, module: true, legend: false, id: SecureRandom.uuid %>
  </div>
</div>
