<div class="card shadow-none m-0 h-100 w-100">
  <div class="card-body ">
    <h4 class="my-2 text-center">Top 10 Users by Exception Count</h4>
    <p class="text-muted text-center m-0">Since <%= time_ago_in_words(@time_ago.ago) %> ago</p>
    <table class="table table-striped table-light">
      <thead>
        <td>User ID</td>
        <td>Count</td>
      </thead>
      <tbody>
        <% @top_10_users_causing_exceptions.each do |user_id, count| %>
          <tr>
            <td><%= user_id %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
