<div class="card shadow-sm m-0 h-100 w-100 ">
  <div class="card-body ">
    <div class="d-flex flex-column h-100">
      <h5 class="text-muted mb-0">Users Affected</h5>
      <div class="flex-grow-1 d-flex flex-row justify-content-left align-items-baseline">
        <h2 class="my-2"><%= @users_affected %></h2>
        <div class="ms-2 <%= @percentage_increase <= 0 ? "text-success" : "text-danger" %>"><%= @percentage_increase %>%</div>
      </div>
      <p class="text-muted m-0">Since <%= time_ago_in_words(@time_ago.ago) %> ago</p>
    </div>
  </div>
  <% if @debug %>
    <div class="card-footer">
      <h4>DEBUG</h4>
      <p>
        class: ExceptionsByControllerComponent
      </p>
    </div>
  <% end %>
</div>